// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.book-box {
  width: 200px;
  height: 250px;
  background-color: orange;
  margin: auto;
  border: 2px solid black;
}

.mid-book-box {
  float: left;
}

.spacer {
  width: 100px;
  height: 100px;
  float: left;
}

.big-spacer {
  height: 70px;
}

.center-container {
  margin-left: 170px;

}